<ion-view title="Detalle" ng-controller="ABooksDetailCtrl">
	<ion-nav-buttons side="right">
        <a class="button button-icon icon ion-home" href="#/"></a>
    </ion-nav-buttons>
	<ion-content class="padding">
		<div ng-if="showDetail" class="list card">
			<div class="item">
				<h2>{{detail.Title}}</h2>
				<p>{{detail.Author.Name}}</p>
				<p>Duraci&oacute;n: {{detail.LengthHours}} horas {{detail.LengthMins}} minutos</p>
			</div>
			<div class="item item-body">
				<p>{{detail.Comments}}
				</p>
			</div>
		</div>
        <div ng-if="showDetail">
            <div class="row row-center" ng-show="control.showDescription(detail.Id)">
                <div class="col" style="text-align:center;">{{downloadInfo.statusDescription}}</div>
            </div>
            <div class="row" ng-show="control.isProgressing(detail.Id)">
                <progress ng-show="true" value="{{downloadInfo.progress}}" max="100"></progress>
            </div>
            <button ng-show="control.isDownloadable(detail.Id)" class="button button-full button-positive" ng-click="control.downloadBook(detail.Id, detail.Title)">
                Descargar
            </button>
            <button ng-show="control.isCancellable(detail.Id)" class="button button-full button-assertive" ng-click="control.cancelDownload(detail.Id)">
                Cancelar descarga
            </button>
            <button ng-show="control.isAvailable(detail.Id)" class="button button-full button-balanced" ng-click="control.play(detail.Id)">
                Escuchar
            </button>
            <button ng-show="control.isErasable(detail.Id)" class="button button-full button-assertive" ng-click="control.deleteDownload(detail.Id)">
                Eliminar
            </button>
        </div>
	</ion-content>
</ion-view>