<ion-view title="Menu">
	<ion-nav-buttons side="right">
        <a class="button button-icon icon ion-home" href="#/"></a>
    </ion-nav-buttons>
	<ion-content class="padding">
		<div class="list">
			<a class="item item-icon-left item-icon-right" href="#/abooks/menu/title">
				<i class="icon ion-clipboard"></i>
				Por T&iacute;tulo
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#/abooks/menu/author">
				<i class="icon ion-person"></i>
				Por Autor
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#/abooks/menu/search">
				<i class="icon ion-search"></i>
				Buscar
				<i class="icon ion-ios-arrow-right"></i>
			</a>			
		</div>
	</ion-content>
</ion-view>