<ion-view ng-controller="ABooksTitlesCtrl">
	<div class="bar bar-subheader">
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" placeholder="Filtrar" ng-model="filterText">
		</label>
	</div>
	<ion-content class="padding has-subheader">
		<ion-list>
			<a ng-repeat="title in titles" class="item item-icon-right" ng-href="#/abooks/menu/detail/{{title.Id}}">
				{{title.Name}}
                <i class="icon ion-ios-arrow-right"></i>
			</a>
		</ion-list>	
        <div class="row" ng-if="!loading">
            <button class="button button-full button-positive" ng-click="control.loadMore()">Ver mas titulos</button>
        </div>		
	</ion-content>
</ion-view>