<ion-view ng-controller="AuthorsCtrl">
	<div class="bar bar-subheader">
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" placeholder="Filtrar" ng-model="filterText">
		</label>
	</div>
	<ion-content class="padding has-subheader">
		<div class="list">
			<a ng-repeat="author in authors" class="item item-icon-right" href="#/abooks/menu/author/{{author.Id}}">
				{{author.Name}}
                <i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
        <div class="row" ng-if="!loading">
            <button class="button button-full button-positive" ng-click="control.loadMore()">Ver mas autores</button>
        </div>		
	</ion-content>
</ion-view>