<ion-view title="Autores" ng-controller="AuthorsCtrl">
	<ion-nav-buttons side="right">
        <a class="button button-icon icon ion-home" href="#/"></a>
    </ion-nav-buttons>
	<div class="bar bar-subheader">
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" placeholder="Filtrar" ng-model="filterText">
		</label>
	</div>
	<ion-content class="padding has-subheader">
		<div class="list">
			<a ng-repeat="author in authors" class="item item-icon-right" href="#/abooks/menu/author/{{author.Id}}">
				<i class="icon ion-ios-arrow-right"></i>
				<h2>{{author.Name}}</h2>
			</a>
		</div>
		
		<ion-infinite-scroll ng-if="showScroll" on-infinite="control.loadMore()" distance="1%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>