<ion-view title="Info" ng-controller="ABookInfoCtrl">
	<ion-nav-buttons side="right">
        <a class="button button-icon icon ion-home" href="#/"></a>
    </ion-nav-buttons>
	<ion-content class="padding">
        <div class="list">
            <a ng-if="currentBook.title" class="item">Título<span class="item-note">{{currentBook.title}}</span></a>
            <a ng-if="currentBook.subject" class="item">Tema<span class="item-note">{{currentBook.subject}}</span></a>
            <a ng-if="currentBook.totalTime" class="item">Duración<span class="item-note">{{currentBook.totalTime}}</span></a>
            <a ng-if="currentBook.date" class="item">Fecha<span class="item-note">{{currentBook.date}}</span></a>
            <a ng-if="currentBook.creator" class="item">Autor<span class="item-note">{{currentBook.creator}}</span></a>
            <a ng-if="currentBook.narrator" class="item">Narrador<span class="item-note">{{currentBook.narrator}}</span></a>
            <a ng-if="currentBook.publisher" class="item">Publicado por<span class="item-note">{{currentBook.publisher}}</span></a>
            <a ng-if="currentBook.producer" class="item">Producido por<span class="item-note">{{currentBook.producer}}</span></a>
            <a ng-if="currentBook.source" class="item">Fuente<span class="item-note">{{currentBook.source}}</span></a>
            <a ng-if="currentBook.format" class="item">Formato<span class="item-note">{{currentBook.format}}</span></a>
            <a ng-if="currentBook.identifier" class="item">Identificador<span class="item-note">{{currentBook.identifier}}</span></a>
            <a ng-if="currentBook.charset" class="item">Juego de caracteres<span class="item-note">{{currentBook.charset}}</span></a>
            <a ng-if="currentBook.generator" class="item">Generado por<span class="item-note">{{currentBook.generator | limitTo:30}}</span></a>
            <br/><br/>
            <button class="button button-full button-assertive" ng-click="control.delete(currentBook.id)">
				Borrar Audio Libro
			</button>
        </div>
	</ion-content>
</ion-view>