<ion-view title="Menu" ng-controller="ABooksMenuCtrl">
	<ion-nav-buttons side="right">
        <a ng-title="control.getCurrentBookTitle()" ng-if="control.isBookLoaded()" class="button button-icon icon ion-ios-book" ng-href="#/myabooks/player/{{control.getCurrentBookId()}}"></a>
        <a title="Ir a Inicio" class="button button-icon icon ion-home" href="#/"></a>
    </ion-nav-buttons>
	<ion-content class="padding">
		<div class="list" ng-show="ready">
			<a class="item item-icon-left item-icon-right" href="#/abooks/menu/title">
				<i class="icon ion-clipboard"></i>
				Por T&iacute;tulo
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#/abooks/menu/author">
				<i class="icon ion-person"></i>
				Por Autor
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>