<ion-view title="" ng-controller="ConfigCtrl">
	<ion-nav-buttons side="right">
        <a ng-title="control.getCurrentBookTitle()" ng-if="control.isBookLoaded()" class="button button-icon icon ion-ios-book" ng-href="#/myabooks/player/{{control.getCurrentBookId()}}"></a>
        <a title="Ir a Inicio" class="button button-icon icon ion-home" href="#/"></a>
    </ion-nav-buttons>
	<ion-content class="padding">
        <div class="list">
            <div class="item item-divider">
            Acceso Audioteca
            </div>
            <a class="item">
                <button class="button button-full button-assertive" ng-click="control.clearCredentials()">Resetear Credenciales</button>
            </a>
            <div class="item item-divider">
            Almacenamiento Audio Libros
            </div>
            <a class="item">
                    Ruta....
            </a>
        </div>
	</ion-content>
</ion-view>