<ion-view title="Almacenamiento" ng-controller="ConfigCtrl">
	<ion-nav-buttons side="right">
        <a ng-title="control.getCurrentBookTitle()" ng-if="control.isBookLoaded()" class="button button-icon icon ion-ios-book" ng-href="#/myabooks/player/{{control.getCurrentBookId()}}"></a>
        <a title="Ir a Inicio" class="button button-icon icon ion-home" href="#/"></a>
    </ion-nav-buttons>
	<ion-content class="padding">
		<div class="list">
			<a class="item item-icon-left item-icon-right" ng-click="control.clearCredentials()">
				<i class="icon ion-refresh"></i>
				Resetear Credenciales
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a ng-if="config.showStorageConfig" class="item item-icon-left item-icon-right" href="#/config/storage">
				<i class="icon ion-android-archive"></i>
				Ubicación Audio Libros
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>