<ion-view title="Inicio" hide-back-button="true" ng-controller="ABooksLoginCtrl">
	<ion-content class="padding">
		<div class="list">
			<a class="item item-icon-left item-icon-right" href="#/radio">
				<i class="icon ion-radio-waves"></i>
				Radio
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#/myabooks">
				<i class="icon ion-headphone"></i>
				Mis Audio Libros
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#/abooks/menu">
				<i class="icon ion-android-download"></i>
				Audioteca Nueva Luz
				<i ng-class="{ 'icon ion-ios-arrow-right': IsAuthenticated(), 'icon ion-locked': !IsAuthenticated() }"></i>
			</a>
			<button class="button button-block button-positive" ng-click="Unzip(8)">Unzip</button>
		</div>
	</ion-content>
</ion-view>