<ion-view title="Inicio" hide-back-button="true" ng-controller="LoginCtrl">
	<ion-nav-buttons side="right">
        <a ng-title="control.getCurrentBookTitle()" ng-if="control.isBookLoaded()" class="button button-icon icon ion-ios-book" ng-href="#/myabooks/player/{{control.getCurrentBookId()}}"></a>
        <a title="Ir a Inicio" class="button button-icon icon ion-home" href="#/"></a>
    </ion-nav-buttons>
	<ion-content class="padding">
		<div class="list">
			<a class="item item-icon-left item-icon-right" href="#/radio">
				<i class="icon ion-radio-waves"></i>
				Radio
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#/myabooks/none">
				<i class="icon ion-headphone"></i>
				Mis Audio Libros
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" ng-href="#/abooks/menu">
				<i class="icon ion-android-download"></i>
				Audioteca Nueva Luz
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" ng-href="#/config">
				<i class="icon ion-settings"></i>
				Configuración
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>