<ion-view hide-back-button="true" ng-controller="LoginCtrl">
	<ion-content class="padding has-header">
		<div class="list">
			<a tabindex="2" class="item item-icon-left item-icon-right" href="#/radio">
				<i class="icon ion-radio-waves"></i>
				Radio
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a tabindex="1" class="item item-icon-left item-icon-right" href="#/myabooks/none">
				<i class="icon ion-headphone"></i>
				Mis Audio Libros
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a tabindex="4" class="item item-icon-left item-icon-right" ng-href="#/abooks/menu">
				<i class="icon ion-android-download"></i>
				Audioteca Nueva Luz
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a tabindex="3" class="item item-icon-left item-icon-right" ng-href="#/config">
				<i class="icon ion-settings"></i>
				Configuración
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>