<ion-view title="" ng-controller="ABooksPlayerCtrl">
	<ion-nav-buttons side="right">
        <a title="Ir a Inicio" class="button button-icon icon ion-home" href="#/"></a>
    </ion-nav-buttons>
	<div ng-if="ready" class="bar bar-subheader player">
		<div class="row">
			<div class="col col-25">
				<button title="Retroceder" class="button button-full button-dark icon ion-ios-rewind" ng-click="control.prev()"></button>
			</div>
			<div class="col col-50">
				<button ng-attr-title="{{showPlay?'Escuchar':'Parar'}}" ng-class="{'button button-full button-dark icon ion-play':showPlay, 'button button-full button-dark icon ion-pause':!showPlay}" ng-click="control.play(showPlay)"></button>
			</div>
			<div class="col col-25">
				<button title="Avanzar" class="button button-full button-dark icon ion-ios-fastforward" ng-click="control.next()"></button>
			</div>
		</div>
        <div class="row">
            <div class="col col-25">
            </div>
            <div class="col col-50" style="text-align:center">
                {{currentStatus.position.absoluteTC}} / {{currentBook.totalTime}}
            </div>
            <div class="col col-25" style="text-align:center">
                {{control.getLevel()}}
            </div>
		</div>
        <div class="list">
            <a class="item item-icon-left" ng-click="control.addBookmark()">
                <i class="icon ion-bookmark"></i>
                Crear marcador
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="control.showBookmarks()">
                <i class="icon ion-ios-bookmarks"></i>
                Ir a marcador
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="control.selectLevel()">
                <i class="icon ion-ios-browsers"></i>
                Niveles de navegación
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="control.showInfo(currentBook.id)">
                <i class="icon ion-ios-information"></i>
                Más información
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
	</div>
	<ion-content class="padding has-subheader player">
        <div ng-if="ready" class="list">
            <a class="item item-text-wrap">
                <h2>{{currentBook.title}}</h2>
                <p>{{currentStatus.position.currentTitle}}</p>
            </a>
        </div>
	</ion-content>
</ion-view>