<ion-view title="" ng-controller="ABooksPlayerCtrl">
	<div ng-if="ready" class="bar bar-subheader player">
		<div class="row">
			<div class="col col-25">
				<button class="button button-full button-dark icon ion-ios-rewind" style="height:25px; overflow: hidden" ng-click="control.prev()">Retroceder</button>
			</div>
			<div class="col col-50">
				<button ng-class="{'button button-full button-dark icon ion-play':showPlay, 'button button-full button-dark icon ion-pause':!showPlay}" 
                    style="height:25px; overflow: hidden" ng-click="control.play(showPlay)"><br/>{{showPlay?'Iniciar Reproduccion':'Parar Reproduccion'}}</button>
			</div>
			<div class="col col-25">
				<button class="button button-full button-dark icon ion-ios-fastforward" style="height:25px; overflow: hidden" ng-click="control.next()">Avanzar</button>
			</div>
		</div>
        <div class="row">
            <div class="col col-25">
            </div>
            <div class="col col-50" style="text-align:center">
                {{currentStatus.position.absoluteTC}} / {{currentBook.totalTime}}
            </div>
            <div class="col col-25" style="text-align:center">
                {{control.getLevel()}}
            </div>
		</div>
	</div>
	<ion-content class="padding has-subheader player">
        <div ng-if="ready" class="list">
            <a class="item item-icon-left" href="#" ng-click="control.addBookmark()">
                Crear marcador
                <i class="icon ion-bookmark"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#" ng-click="control.showBookmarks()">
                <i class="icon ion-ios-bookmarks"></i>
                Ir a marcador
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#" ng-click="control.selectLevel()">
                <i class="icon ion-ios-browsers"></i>
                Niveles de navegación
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#" ng-click="control.showInfo(currentBook.id)">
                <i class="icon ion-ios-information"></i>
                Más información
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <div ng-if="ready" class="list">
            <a class="item item-text-wrap">
                <h2>{{currentBook.title}}</h2>
                <p>{{currentStatus.position.currentTitle}}</p>
            </a>
        </div>
	</ion-content>
</ion-view>