<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <title></title>
    
    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <!--<script src="js/require.js"></script>
    <script src="js/background-mode.js"></script>-->
    <script src="cordova.js"></script>
    
    <!-- app's js -->
    <script src="app/app.js"></script>
    <script src="app/controllers/radio.js"></script>
    <script src="app/controllers/abooks-login.js"></script>
    <script src="app/controllers/abook-info.js"></script>
    <script src="app/controllers/abooks-titles.js"></script>
    <script src="app/controllers/abooks-authors.js"></script>
    <script src="app/controllers/abooks-author-books.js"></script>
    <script src="app/controllers/abooks-detail.js"></script>
    <script src="app/controllers/abooks-menu.js"></script>
    <script src="app/controllers/config.js"></script>
    <script src="app/controllers/controller-base.js"></script>
    <script src="app/controllers/myabooks.js"></script>
    <script src="app/controllers/myabooks-player.js"></script>
    <script src="app/controllers/myabooks-levels.js"></script>
    <script src="app/controllers/myabooks-bookmarks.js"></script>
    <script src="app/services/svc-download.js"></script>
    <script src="app/services/svc-player.js"></script>
    <script src="app/services/svc-radio.js"></script>
    <script src="app/services/svc-session.js"></script>
    <script src="app/services/svc-myabooks.js"></script>
    <script src="js/fix_ios9/angular-ios9-uiwebview.patch.js"></script>
  </head>
  
  <script>
    document.addEventListener('deviceready', function() {
        if (ionic.Platform.isIOS()) {
            cordova.plugins.backgroundMode.setDefaults({
                title:  "Nueva Luz",
                ticker: "Nueva Luz",
                text:   "Nueva Luz"
            });
            
            // Enable background mode
            cordova.plugins.backgroundMode.enable();
        }
    });
  </script>
  
  <body ng-app="starter">
    <ion-header-bar align-title="center" class="bar-calm nav-title-slide-ios7" ng-controller="ControllerBase">
        <div class="title">{{control.getViewName()}}</div>
        <div ng-if="control.isBookLoaded()" class="buttons">
            <button class="button button-icon icon ion-ios-book" style="width:50px;" ng-click="control.goCurrentBook()">Reproducir libro</button>
        </div>
        <div ng-if="control.hasBackView()" class="buttons">
            <button class="button button-icon icon ion-arrow-left-c" style="width:50px;" ng-click="control.goBack()">Atras</button>
        </div>
        <div ng-if="control.showGoHome()" class="buttons">
            <button class="button button-icon icon ion-ios-home" style="width:50px;" ng-click="control.goHome()">Ir a inicio</button>
        </div>
    </ion-header-bar>
    <ion-nav-view class="slide-left-right"></ion-nav-view>
  </body>
</html>
